<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FarMerch | E-Commerce Website for Farmers</title>
    <link rel="shortcut icon" type="image/png" src="Images/logoo.png" />
    <link href="../Stylesheets/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="site-navbar">
      <div class="navbar-logo">
        <img src="Images/logoo.png" width="150px" />
      </div>
      <h3 class="site-name">FarMerch</h3>
      <nav>
        <ul class="header-button-list">
          <li><a href="/" type="button" class="btn btn-primary">Home</a></li>
          <li>
            <a href="/products" type="button" class="btn btn-primary"
              >Products</a
            >
          </li>
          <li>
            <a href="/about-us" type="button" class="btn btn-primary"
              >About Us</a
            >
          </li>
          <li>
            <a href="/contact-us" type="button" class="btn btn-primary"
              >Contact Us</a
            >
          </li>
          <li>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Account
              </button>
              <ul class="dropdown-menu">
                <% if (!user) { %>
                <li class="NavbarList">
                  <a href="/customer" class="dropdown-item">Customer</a>
                </li>
                <li class="NavbarList">
                  <a href="/seller" class="dropdown-item">Seller</a>
                </li>
                <% } else if (user) { %> <% if (user.user_metadata.type ===
                "Seller") { %>
                <li class="NavbarList">
                  <a class="dropdown-item"
                    >Logged in as: <%= user.user_metadata.display_name %>
                  </a>
                </li>
                <li class="NavbarList">
                  <a href="/upload" class="dropdown-item">Upload Data</a>
                </li>
                <li class="NavbarList">
                  <a href="/stockhistory" class="dropdown-item"
                    >Low Stock Items</a
                  >
                </li>
                <li class="NavbarList">
                  <a href="/logout" class="dropdown-item">Logout</a>
                </li>
                <% } else if (user.user_metadata.type === "Customer") { %>
                <li class="NavbarList">
                  <a class="dropdown-item"
                    >Logged in as: <%= user.user_metadata.display_name %>
                  </a>
                </li>
                <li class="NavbarList">
                  <a href="/my-address" class="dropdown-item">My Address</a>
                </li>
                <li class="NavbarList">
                  <a href="/logout" class="dropdown-item">Logout</a>
                </li>
                <% } } %>
              </ul>
            </div>
          </li>
        </ul>
        <a href="/cart"
          ><img
            src="Images/cart.png"
            width="30px"
            height="30px"
            class="cartlogo"
        /></a>
      </nav>
    </div>
    <div class="sc-container">
      <h1>Payment Unsuccessful</h1>
      <p>Something went wrong.</p>
      <p>
        We apologize for the inconvenience. An error occurred while processing
        your payment.
      </p>
      <p>For any queries Email:support@gmail.com</p>
      <img src="Images/cancel.jpg" /><br />
      <a href="/cart" class="sc-btn">Back to Cart</a>
    </div>
  </body>
</html>
