<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Items</title>
    <link rel="icon" type="image/png" src="Images/logoo.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="../Stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="upload-body">
      <h2 style="text-align: center; padding-bottom: 10px">
        Upload Products to FarMerch
      </h2>
      <div class="form-border">
        <div
          id="liveAlertPlaceholder"
          style="padding: 10px 10px 0px 10px"
        ></div>
        <div class="form-floating m-3">
          <select
            class="form-select"
            id="selectCategory"
            aria-label="Floating label select example"
          >
            <option selected>Select</option>
            <option value="Grains">Grains</option>
            <option value="Fruits">Fruits</option>
            <option value="Vegetables">Vegetables</option>
            <option value="Seeds">Seeds</option>
            <option value="Processed">Processed</option>
            <option value="Spices">Spices</option>
          </select>
          <label for="floatingSelect">Choose category of item</label>
        </div>
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="itemName" />
          <label for="floatingInput">Item Name</label>
        </div>
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="itemPrice" />
          <label for="floatingInput">Price/Kg</label>
        </div>
        <div class="form-floating m-3">
          <select
            class="form-select"
            id="availableIn"
            aria-label="Floating label select example"
          >
            <option selected>Select</option>
            <option value="5kg">5kg</option>
            <option value="1kg">1kg</option>
            <option value="500gm">500gm</option>
            <option value="250gm">250gm</option>
          </select>
          <label for="floatingSelect">Item available in Quantity</label>
        </div>
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="itemStock" />
          <label for="floatingInput">Stock</label>
        </div>
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="itemUrl" />
          <label for="floatingInput">URL for Item Image</label>
        </div>
        <div class="form-floating m-3">
          <textarea
            class="form-control"
            id="itemDescp1"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Description Paragraph</label>
        </div>
        <div class="submit-button">
          <button
            class="btn btn-primary"
            type="submit"
            onclick="sendUpload('/upload')"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <script>
      function sendUpload(url) {
        const category = document.getElementById("selectCategory");
        const name = document.getElementById("itemName");
        const price = document.getElementById("itemPrice");
        const stock = document.getElementById("itemStock");
        const itemurl = document.getElementById("itemUrl");
        const description = document.getElementById("itemDescp1");
        const availableIn = document.getElementById("availableIn");

        if (
          category.value == "Select" ||
          isEmpty(name.value) ||
          isEmpty(price.value) ||
          isEmpty(stock.value) ||
          isEmpty(itemurl.value) ||
          isEmpty(description.value) ||
          availableIn.value == "Select"
        ) {
          appendAlert("Please Fill all the required fields", "danger");
          return;
        }
        const data = {
          Category: category.value,
          Name: name.value,
          Price: price.value,
          Stock: stock.value,
          AvailableIn: availableIn.value,
          Url: itemurl.value,
          Description: description.value,
        };

        const options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        };

        fetch(url, options)
          .then((response) => response.json())
          .then((data) => {
            alert(data);
          })
          .catch((error) => {
            alert("Error:", error);
          });
      }

      function isEmpty(value) {
        return value === null || value.trim() === "";
      }

      const alertPlaceholder = document.getElementById("liveAlertPlaceholder");

      const appendAlert = (message, type) => {
        // Check if there are any existing alerts
        const existingAlerts = alertPlaceholder.querySelectorAll(".alert");

        // If no alerts exist, create and append a new alert
        if (existingAlerts.length === 0) {
          const wrapper = document.createElement("div");
          wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `  <div>${message}</div>`,
            '  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            "</div>",
          ].join("");

          alertPlaceholder.append(wrapper);
        } else {
          // If alerts exist, update the content of the first alert
          const firstAlert = existingAlerts[0];
          firstAlert.querySelector("div").textContent = message; // Update message content
        }
      };
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
